# No dot-directories except github/vscode
node_modules/
build/
dist/
*.tgz
.idea/
.vscode/

# npm package files
iobroker.*.tgz

Thumbs.db
.commitinfo

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
